<title><%= @title %></title>
<style>
  body { font-size: 150%; }
  .sodatext { display: none; }
  .sodatext.current { display: block; }
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  $(function() {
    $(".sodatext:first").show();
  });
</script>
<body>
  <p class="
  <%= @items.map(&:to_html).join %>
</body>
