title= @title

css:
  body { font-size: 400%; }
  .sodatext { display: none; }
  .sodatext.current { display: block; }

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

javascript:
  var LEFT_ARROW = 37;
  var RIGHT_ARROW = 39;
  var currentIndex;

  $(function() {
    var $items = $(".sodatext");

    var min = 1;
    var max = $items.length;

    currentIndex = 1;
    if (location.hash) {
      currentIndex = location.hash.slice(1);
    }
    show(currentIndex);

    $(document).keydown(function(e) {
      if(e.keyCode == LEFT_ARROW) {
        show(currentIndex - 1);
      } else if(e.keyCode == RIGHT_ARROW) {
        show(currentIndex + 1);
      }
    });

    function show(index) {
      if (index < min) index = max;
      if (index > max) index = min;
      currentIndex = index;
      location.hash = index;
      $items.hide();
      $items.eq(index-1).show();
    }
  });

body
  == @items.map(&:to_html).join
